build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
# Ahora usamos Google Cloud Storage, no guardamos media localmente
public/media/

# Fonts de testeo (no versionar en GitHub)
public/fonts/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Certificados SSL
certs/
